/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}
#menu{
    background-color: #6bc9e6 !important;
}

#menu a, button{
    font-size: 18px !important;
    font-weight: 700;
}

#menu a{
    color: #424040;
}


.logo{
    width: 100px;
}

.slideimg{
    height: 570px;
}

/* noticias o novedades */
#noticias{
    background-color: #000;
    margin-bottom: -150px;
}


#noticias .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.buy{
    margin-left: 40%;       
}

/* servicios */
.imgservicios{
    width: 180px;
    height: 160px;
}


/* footer */
#page-footer{
    background-color: rgb(44, 44, 45);
}

#page-footer a{
    color: #fff;
}

#page-footer .ftcontainer{
    display: flex;
    padding: 40px 0;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    
}

.footer__cta-ftcontainer{
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
}

.footer__cta-ftcontainer .cta__txt{
    font-size: 3.4rem;
    max-width: 50%;
    padding: 0;
    color: #fff;
}

.footer__cta-ftcontainer .cta__btn{
    margin-top: 0;
}

.footer__menu figure{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 13px;
}

.footer__menu{
    max-width: 300px;
    padding-left: 1em;
    grid-column: 1/3;
    grid-row-start: 1;
}

.footer__cta-ftcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 70px 0;
}

.footer__cta-ftcontainer:after{
    position: absolute;
    background-color: rgba(219, 219, 219, 0.748);
    max-width: 1200px;
    margin: 0 auto;
    height: 1px;
    left: 0;
    bottom: 0;
    content: "";
}
.footer__cta-ftcontainer .cta__txt{
    color: #fff;
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    padding: 0 15px;
}

.footer__cta-ftcontainer .cta__btn{
    color: #fff;
    padding: 26px 60px;
    border: 2px solid rgb(3, 2, 2);
    border-radius: 500px;
    background-color: transparent;
    display: inline-block;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 30px;
    transition: all .4s ease-in-out;
}

.footer__cta-ftcontainer .cta__btn:hover{
    color: #fff;
    background-color: #04480a;
    border-color: rgb(7, 2, 2);
}

.footer__link{
    list-style: none;
    font-size: 14px;
    margin: 1em 0;
    padding: 5px 0 5px .5em;
}

.ft-social{
    color: #fff;
    width: 30px;
    border-radius: 100%;
    height: auto;
    display: inline-block;
    font-size: 14px;
    line-height: inherit;
}

.ft-link{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__link a{
    text-decoration: none;
}

.footer__title{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

#page-footer .ftcontainer{
    max-width: 1200px;
    flex-direction: row;
    padding: 70px 0;
    justify-content: space-between;
    margin: 0 auto;

}

.footer__logo{
    width: 150px;
}


.footer__info{
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

footer{
    min-height: 100px;
    background-color: #000;
    margin-top: 150px;
}

.footer__link:nth-child(1){
    border-left: 2px solid #480404;
}

.footer__link:nth-child(2){
    border-left: 2px solid #faea07;
}

.footer__link:nth-child(3){
    border-left: 2px solid #0daeda;
}

.footer__link:nth-child(4) {
    border-left: 2px solid #b4da0d;
}

.copy{
color: #fff;
font-size: medium;
}

#simulador .titulo{
    width: 100%;
    color: #000;
    text-align: center;
}

#simulador{
    margin-top: 100px;
}

.container__title{
    text-align: left;
    background-color: #bde5f0;
    margin-left: 50px;
}
.title__so{
    margin-top: 200px;
    margin-left: 5px;
    margin-right: 50px;
}

#empresa{
    background-color: #000;
}

#contacto {
    margin-top: 150px;
    background-color: #6bc9e6;
    margin-top: 60px;
    margin-bottom: -150px;
}

h1.titulo{
    text-align: center;
}

.container{
    justify-content: center;
}


.titulo_no{
    background-color: #e4f5f5;
    margin-bottom: 25px;
    color: rgb(8, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
}

#comuna13{
    margin-top: 150px;
}

h1.titulo_f{
    text-align: center;
}

h1.tit{
    text-align: center;
    margin-top: 20px;
}

.toc{
    font-family: sans-serif;
    color: #020303;
    line-height: 1.6;
    direction: ltr;
    border: 1px solid #070808;
    font-size: 95%;
    display: table;
    padding: 7px;
    margin-top: 1px;
    background-color: rgb(126, 186, 194);
}

.toc_6{
    text-decoration: none;
    color: #020303;
}

.toc_1{
    border-radius: 5cm;
    border-color: #020c0c;
    border-style: solid;
}

h1.contenido_1{
    font-size: 20px;
}

.info_1{
    border-color: #000;
    border-width: 50px;
    align-content: center;
    text-align: left;
    color: #060707;
    font-family: Arial, Helvetica, sans-serif;
}

#comuna1{
    align-content: center;
    text-align: center;
}

.pc1{
    text-align: center;
}

.pc2{
    text-align: center;
}